@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.alexandria-<uniquifier> {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
}