@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema base (dark) */
:root {
    --bg: #1d1d1d;
    --bg-secondary: #252525;
    --color-primary: #0A77F3;
    --text: #ffffff;
    --text-secondary: #dcdcdc;
    --text-terceary: #a3a3a3;
    --border: #3d3d3d;
    --sun:#345D8D;
    --bg-path: #142B47;
  
    /* hover */
    --hover-border: #0A77F3;
    --hover-bg: #202F41;
    --hover-bg-gray: #2a2a2a;
    --hover-border-gray: #9CA3AF;

    /* notifications */
    --error-border: #FF2121;
    --error-bg: #282525;
    --success-border: #00B44B;
    --success-bg: #252826;
    --info-border: #009dff;
    --info-bg: #252728;
    --warning-border: #ffa600;
    --warning-bg: #282825;
  }

  /* Tema claro */
.light {
  --bg: #f5f5f5;
  --bg-secondary: #Fbfbfb;
  --text: #1d1d1d;
  --text-secondary: #3d3d3d;
  --text-terceary: #797979;
  --border: #DCDCDC;
  --sun:#BFDCFF;
  --bg-path: #FDFDFD;
  
  /* hover */
  --hover-border: #0A77F3;
  --hover-bg: #E9F3FF;
  --hover-bg-gray: #ffffff;
  --hover-border-gray: #b9b9b9;

  /* notifications */
  --error-border: #FF2121;
  --error-bg: #ffdddd;
  --success-border: #00B44B;
  --success-bg: #DDFFE8;
  --info-border: #009dff;
  --info-bg: #caedff;
  --warning-border: #ffa600;
  --warning-bg: #fff4a4;
}
* {
  transition:
    background-color 0.8s ease,
    color 0.8s ease,
    border-color 0.8s ease,
    fill 0.8s ease,
    stroke 0.8s ease;
}
.bg-line {
  --line-color: color-mix(in srgb, var(--border) 100%, transparent);

  background: linear-gradient(
    to right,
    transparent,
    var(--line-color),
    transparent
  );

  background-size: 100% 100%;
  opacity: 0.6;

  transition:
    opacity 0.9s ease,
    background 0.9s ease,
    background-size 0.9s ease;
}

/* Hover del grupo */
.group:hover .bg-line {
  --line-color: color-mix(in srgb, #F83B66 100%, transparent);

  background: linear-gradient(
    to right,
    transparent,
    var(--line-color),
    transparent
  );

  background-size: 100% 100%;
  opacity: 1; /* ← esta es la que da el efecto suave */
}

.bg-slide {
  --fade: 600px;

  mask-image: linear-gradient(
    to right,
    transparent,
    black var(--fade),
    black calc(100% - var(--fade)),
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black var(--fade),
    black calc(100% - var(--fade)),
    transparent
  );
}
/* ancho */
::-webkit-scrollbar {
  width: 2px;
}

/* fondo */
::-webkit-scrollbar-track {
  background: transparent;
}

/* barra */
::-webkit-scrollbar-thumb {
  background: #0A77F3;
  border-radius: 999px;
}

